# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\takac\OneDrive\NHLStenden\Year 2\Period 2\Data processing\CodeOfApi\dataprocessing-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
